.page-layout {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: #f2f8fd;
}

.page-layout-main {
  display: flex;
  flex-direction: column;
  padding: 2rem 3rem 3rem 18rem;
  background-color: #f2f8fd;
  min-height: 100vh;
  box-sizing: border-box;
}




@media only screen and (min-width: 1025px) {
  .page-layout-main {
    margin: 0; 
  }
}

@media only screen and (max-width: 1024px) {
  .page-layout {
    flex-direction: column;
  }

  .page-layout-main {
    padding: 1rem;
  }
}
